
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/static/login/fonts/icomoon/style.css">

    <link rel="stylesheet" href="/static/login/css/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/login/css/bootstrap.min.css">
    
    <!-- Style -->
    <link rel="stylesheet" href="/static/login/css/style.css">

    <title>Login #7</title>
  </head>
  <body>
  

  
  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <img src="/static/login/images/undraw_remotely_2j6y.svg" alt="Image" class="img-fluid">
        </div>
        <div class="col-md-6 contents">
          <div class="row justify-content-center">
            <div class="col-md-8">
              <div class="mb-4">
                <div align="center">
                    <form action="" method="post" enctype="multipart/form-data">
                        <table  align="center" class="table table-striped table-bordered" style="margin-left: 50%" width="500px">
                      <tr>
                        <th scope="row">Name</th>
                        <td><label for="textfield"></label>
                          <input type="text" name="textfield" id="textfield" class="form-control" required /></td>
                      </tr>
                      <tr>
                        <th scope="row">Photo</th>
                        <td><label for="fileField"></label>
                           <input type="file" name="fileField" id="fileField" class="form-control" required/></td>
                      </tr>
                    
                    
                      <tr>
                        <th scope="row">Qualification</th>
                        <td><label for="textfield3"></label>
                          <input type="text" name="textfield3" id="textfield3" required class="form-control" /></td>
                      </tr>
                      <tr>
                        <th scope="row">District </th>
                        <td><label for="select"></label>
                          <select name="select" id="select" class="form-control">
                            <option>Thiruvananthapuram</option>
                            <option>Kollam</option>
                            <option>Alapuzhha</option>
                            <option>Pathanamthitta</option>
                            <option>Kottayam</option>
                            <option>Idukki</option>
                            <option>Ernakulam</option>
                            <option>Thrissur</option>
                            <option>Palakkad</option>
                            <option>Malappuram</option>
                            <option>Kozhikode</option>
                            <option>Wayanad</option>
                            <option>Kannur</option>
                            <option>Kasargod</option>
                          </select></td>
                      </tr>
                      <tr>
                        <th scope="row">Place</th>
                        <td><label for="textfield2"></label>
                          <input type="text" name="textfield2" id="textfield2"class="form-control" required /></td>
                      </tr>
                      <tr>
                        <th scope="row">Email-id</th>
                        <td><label for="textfield7"></label>
                          <input type="email" name="textfield7" id="textfield7" class="form-control" required/></td>
                      </tr>
                      <tr>
                        <th scope="row">Contact Number</th>
                        <td><label for="textfield8"></label>
                          <input type="tel" name="textfield8" id="textfield8" class="form-control" required pattern="[6-9][0-9]{9}"/></td>
                      </tr>
                    
                            <tr>
                        <th scope="row">Password</th>
                        <td><label for="textfield8"></label>
                          <input type="password" name="textfield9" id="textfield8" class="form-control" required /></td>
                      </tr>
                      <tr>
                        <th colspan="2" scope="row"><label></label><div align="center" ><center> <input type="submit" class="btn btn-primary" name="button" id="button" value="Register" /></center></div></th>
                        </tr>
                    </table>
                    </form>
                    </div>
            </div>
          </div>
          
        </div>
        
      </div>
    </div>
  </div>

  
    <script src="/static/login/js/jquery-3.3.1.min.js"></script>
    <script src="/static/login/js/popper.min.js"></script>
    <script src="/static/login/js/bootstrap.min.js"></script>
    <script src="/static/login/js/main.js"></script>
  </body>
</html>