{% extends 'admin/homepage.html' %}
{% block body %}


<body><form action="/ADMINHOME4/{{ data['course_id'] }}" method="post" enctype="multipart/form-data">
    <table width="378" class="table table-striped" style="margin-left: 50%">
  <tr>
    <th width="125" scope="row">Department</th>
    <td width="237"><label for="dept"></label>
     <select name="dept">
         {% for i in data1 %}
         <option {% if i['department_id']==data['department_id'] %} selected {% endif %} value="{{ i['department_id'] }}">{{ i['department_name'] }}</option>
         {% endfor %}
     </select> </td>
  </tr>
  <tr>
    <th width="125" scope="row">Course Name</th>
    <td width="237"><label for="textfield"></label>
      <input type="text" name="textfield" id="textfield" value="{{ data['course_name'] }}" class="form-control" required/></td>
  </tr>
  <tr>
      <th colspan="2" scope="row"><center><input type="submit" name="button" id="button" value="update" class="btn btn-primary"/></center></th>
  </tr>
</table>
</form>
</body>
{% endblock %}