<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form action="" method="get">
<table class="table table-striped" style="margin-left: 50%" border="1">
<tr><td colspan="3"></td></tr>
  <tr>
    <th width="134" rowspan="2" scope="col">Hour 1</th>
    <th width="309" scope="col">Subject</th>
    <th width="309" scope="col"><label for="sub1"></label>
      <select name="sub1" id="sub1">
      </select></th>
  </tr>
  <tr>
    <th>Staff</td>
    <th>
  </tr>
  <tr>
    <th rowspan="2">Hour 2</td>
    <th>Subject</td>
    <th><label for="sub2"></label>
      <select name="sub2" id="sub2">
      </select></td>&nbsp;</td>
  </tr>
  <tr>
    <th>Staff</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <th rowspan="2">Hour 3</td>
    <th>Subject</td>
    <th><label for="sub3"></label>
      <select name="sub3" id="sub3">
      </select></td>&nbsp;</td>
  </tr>
  <tr>
    <th>Staff</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <th rowspan="2">Hour 4</td>
    <th>Subject</td>
    <th><label for="sub4"></label>
      <select name="sub4" id="sub4">
      </select></td>
  </tr>
  <tr>
    <th>Staff</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <th rowspan="2">Hour 5
    <th>Subject</td>
    <th><label for="sub5"></label>
      <select name="sub5" id="sub5">
      </select></td>
  </tr>
  <tr>
    <th>Staff</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <th rowspan="2">Hour 6</td>
    <th>Subject</td>
    <th><label for="sub6"></label>
      <select name="sub6" id="sub6">
      </select></td>
  </tr>
  <tr>
    <th>Staff</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td align="center" colspan="3"><input type="submit" name="button" id="button" value="Update" /></td>
    </tr>
</table>
</form>
</body>
</html>
